body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f5f5f5;
        color: #111;
        text-align: center;
        padding: 20px;
      }

      .marquee-container {
        background-color: black;
        color: rgb(252, 12, 12);
        font-size: 1rem;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
      }

      .marquee-text {
        display: inline-block;
        animation: scroll-left 15s linear infinite;
      }
        
      

      @media (max-width: 600px) {
        .marquee-container {
          font-size: 0.9rem;
          padding: 8px;
        }
      }

      img {
        height: 400px;
        margin: 20px 0;
      }

      .social-icons a {
        margin: 0 10px;
        display: inline-block;
      }

      form {
        margin: 20px auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      input,
      button {
      position: relative;
      display: inline-block;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      color: black;
      background-color: yellow;
      border: none;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      transition: color 0.4s ease;
    }

   button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: black;
      z-index: -1;
      transition: width 0.4s ease;
    }

button:hover::before {
      width: 100%;
    }

button:hover {
      color: white;

      video {
        width: 90%;
        max-width: 600px;
        margin-top: 20px;
      }

      p {
        line-height: 1.6;
        max-width: 800px;
        margin: 20px auto;
      }
